
    <tr>
      <td>Диагональ</td>
      <td>{{ product.diagonal }}</td>
    </tr>
    <tr>
      <td>Тип дисплея</td>
      <td>{{ product.display_type }}</td>
    </tr>
      <tr>
      <td>Процессор</td>
      <td>{{ product.processor_freg }}</td>
    </tr>
      <tr>
      <td>Оперативная память</td>
      <td>{{ product.ram }}</td>
    </tr>
      <tr>
      <td>Видеокарта</td>
      <td>{{ product.video }}</td>
    </tr>
      <tr>
      <td>Время работы аккумалятора</td>
      <td>{{ product.time_without_charge }}</td>
    </tr>

